@model IEnumerable<GP.Domain.Entities.Medecin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodeMedecin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomMedecin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodeMedecin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomMedecin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialite)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedecinId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MedecinId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MedecinId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
